<div class="row">
 <div class="col-md-6 mx-auto">
 <div class="card rounded-0">
  <div class="card-header">
    <h3 class="mb-0">
      Register
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="RegisterForm"   (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control"  formControlName="name" aria-describedby="emailHelp" placeholder="Enter Name">
        <span class="danger-text" *ngIf="!RegisterForm.get('name').valid && RegisterForm.get('name').touched">{{'please enter name'}}</span>

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="emailId" aria-describedby="emailHelp" placeholder="Enter email">
        <span  class="danger-text" *ngIf="!RegisterForm.get('emailId').valid && RegisterForm.get('emailId').touched">{{'please enter email Id'}}</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"  placeholder=" Enter Password">
        <span  class="danger-text" *ngIf="!RegisterForm.get('password').valid && RegisterForm.get('password').touched">{{'please enter password'}}</span>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Mobile</label>
        <input type="number" class="form-control"  formControlName="phoneNo"  placeholder="Enter number">
        <span class="danger-text" *ngIf="!RegisterForm.get('phoneNo').valid && RegisterForm.get('phoneNo').touched">{{'please enter mobile number'}}</span>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" formControlName="male">
          <label class="form-check-label" for="flexCheckDefault">
             Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" formControlName="female" >
          <label class="form-check-label" for="flexCheckChecked">
            female
          </label>
        </div>

      </div>

      <button type="submit" class="btn btn-primary"[disabled]="RegisterForm.invalid">Register</button>
    </form>
  </div>
 </div>


 </div>

</div>
